@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #fffaf5;
}

.pancake {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.icon,
.envelope {
  width: 40px;
}

.mobile-menu {
  width: 30px;
}

.star {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.badge {
  background-color: #ffe4cc;
  padding: 6px 16px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 160%;
  color: #1c1917;
  font-size: 12px;
  font-weight: 400;
  width: fit-content;
  text-transform: uppercase;
  border-radius: 15px;
}

.test {
  display: none;
}

.action {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #1c1917;
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 160%;
  color: #1c1917;
  font-weight: 500;
}

.cart-btn {
  width: 20px;
  height: 20px;
}

.main-wrapper {
  padding-top: 95px;
}

.card {
  padding: 24px;
  border: solid 1px #1c1917;
  border-radius: 10px;
  box-shadow: 1px 1px 0 1px #1c1917;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 15px;
}
.lds-ellipsis div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #1c1917;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 5px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 5px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 24px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 30px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media (min-width: 1024px) {
  .mobile-menu {
    display: none;
  }

  .test {
    display: block;
  }
}
